    <!-- Footer -->
    <footer class="py-5 mt-5 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Employee App 2018</p>
        </div>
    </footer>
      
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- JQuery core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Font Awesome JavaScript -->

    
    <!-- Custom JavaScript -->

    
    </body>
</html>